.background-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
    height: 100vh;
    background-size: cover;
}

.card-container {
    background-color: #00000080;
    width: 250px;
    padding: 40px;
    border-style: solid;
    border-color: #48ee59;
    border-width: 5px;
    margin: 30px;
}

.heading {
    color: white;
    font-family: "Bree Serif";
    font-size: 30px;
}
